
$color-base: blue;
$color-important: darkblue;
$color-warning: cyan;
$color-box-shadow: transparent;
$radious: 10px;

$font-principal: bold large Times, serif;
$font-secondary: bold large Times, serif;

$shadow: 20px 20px 15px;



