
$color-base: red;
$color-important: darkred;
$color-warning: lightpink;
$color-box-shadow: transparent;
$radious: 3px;

$font-principal: bold large Helvetica, sans-serif;
$font-secondary: bold large cursive, sans-serif;

$shadow: -20px 20px 15px;


